server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/studs
    username:
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

app:
  jwt:
    secret: mySecretKeyForJWTTokenGenerationMustBeAtLeast256BitsLong123456789
    expiration: 86400000